#logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.sidenav-container {
  height: 100%;
  margin-top: 0.2rem;
}

.sidenav {
  width: 250px;
}

ul {
  margin-top: -0.2rem;
}

/* == Ver se faz falta; senão remove.
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
*/

.mat-sidenav-content {
  padding: 1rem;

  .mat-spacer {
    margin-bottom: 2rem;
  }
}